body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*********************
 *Header
 **********************/
 
.logo{
	height: 54px;
}

.jumbotron {
	/*background-image: url('/images/bg.jpg');*/
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      /*width: 70%;*/
      margin: auto;
  }
 
.carousel-control{
	/*top: 119px;
	height: 461px;*/
}

.carousel-indicators{
	/*bottom: -495px;*/
}

.nav{
    background: #2f4c5e;
    border-bottom: 1px solid #fafafa;
    top: -250px;
    width: 100%;
}
/*********************
 *Content
 **********************/
h1{
    color: deepskyblue;
}
body{
    background-color: cornsilk;
}
.gallery a{
    margin: 10px 5px 10px 5px;
}
.gallery a img{
    margin-top: 10px;
}
/*********************
 *Footer
 **********************/
#copyright {
    background: #333;
    color: #fff;
    font-size: .9em;
    padding: 15px 0;
}

.social{
	font-size: 3em;
	list-style-type: none;
}
.address{
	list-style-type: none;
}

.footer{
    margin-top: 15px;
}