<header>
	<div class="row">
		<div class="col-md-4 logo">
			<a href="/">
				<img src="/images/logo.png" alt="logo" class="img-responsive" style="height:54px;"/>
			</a>
		</div>
		<div class="col-md-8 phone-wrapper">
			<h1 class="phone"><%= title %></h1>
		</div>
	</div>
	
    
    <section id="<%= page %>-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#<%= page %>-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#<%= page %>-carousel" data-slide-to="1"></li>
			<li data-target="#<%= page %>-carousel" data-slide-to="2"></li>
			<li data-target="#<%= page %>-carousel" data-slide-to="3"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
			  <img src="/images/banner_frozen.jpg" alt="frozen cake" >
			</div>

			<div class="item">
			  <img src="/images/banner_cakes.jpg" alt="cakes" >
			</div>

			<div class="item">
			  <img src="/images/banner_cupcakes.jpg" alt="cupcakes" >
			</div>

			<div class="item">
			  <img src="/images/banner_survivor.jpg" alt="survivor cake" >
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#<%= page %>-carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#<%= page %>-carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
		</a>
    </section>
    
    <section class="navbar">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/users/register">Register</a></li>
        </ul><!-- nav -->
    </section><!-- navbar -->
        
</header>